extends layout

block content
  .container
    form(id='form-room', action='/rooms/#{currentUser._id}', method='POST')
      label(for='name') Name
      input(
        type='name', id='name', name='name', class='form-control', 
        placeholder='Name', required, autofocus
      )
      label(for='city') City
      input(
        type='city', id='city', name='city', class='form-control', 
        placeholder='City', required, autofocus
      )
      label(for='address') Address
      input(
        type='address', id='address', name='address', class='form-control', 
        placeholder='Address', required, autofocus
      )
      label(for='convenience') Convenience
      input(
        type='convenience', id='convenience', name='convenience', class='form-control', 
        placeholder='Convenience', required, autofocus
      )
      label(for='content') Content
      textarea(
        type='content', id='content', name='content', class='form-control', 
        placeholder='Content', required, autofocus
      )
      label(for='fee') Fee
      input(
        type='fee', id='fee', name='fee', class='form-control', 
        placeholder='Fee', required, autofocus
      )
      .form-group
        label Number of People
        select(name='person')
          option(value='1',selected) 1
          option(value='2') 2
          option(value='3') 3
          option(value='4') 4
          option(value='5') 5
          option(value='6') 6
          option(vaule='7') 7
          option(value='8') 8
          option(value='9') 9
          option(value='10') 10   
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit') Hosting
