extends layout

block content
  .container
    form(id='form-room', action='/rooms/#{currentUser._id}', method='POST')
      label(for='name') Name
      input(
        type='name', id='name', name='name', class='form-control', 
        placeholder='Name', required, autofocus
      )
      label(for='city') cloth_Sort
      input(
        type='city', id='city', name='city', class='form-control', 
        placeholder='City', required, autofocus
      )
      label(for='address') sex
      input(
        type='address', id='address', name='address', class='form-control', 
        placeholder='Address', required, autofocus
      )
      label(for='convenience') Age ( 나이의 앞자리 수 )
      input(
        type='convenience', id='convenience', name='convenience', class='form-control', 
        placeholder='Convenience', required, autofocus
      )
      label(for='content') photo
      textarea(
        type='content', id='content', name='content', class='form-control', 
        placeholder='Content', required, autofocus
      )
      label(for='fee') Price
      input(
        type='fee', id='fee', name='fee', class='form-control', 
        placeholder='Fee', required, autofocus
      )
      .form-group
        label priority
        select(name='person')
          option(value='1',selected) 마른체형
          option(value='2') 통통한 체형
          option(value='3') 낮은 가격
          option(value='4') 높은 가격
          option(value='5') 유명 브랜드
          option(value='6') 인기 많은 순
          option(vaule='7') 찾는 옷 
      
      button.btn.btn-lg.btn-primary.btn-block(type='submit') upload
